.bg-green{
  background-color: #4BA3A1;
}

.bg-blue{
  background-color: #1A4567;
}

.amount{
  margin: 0.5em 0;
  padding: 0.5em 0;
  border: solid 2px white;
  background: #1A4567;
  color: white;
}

.calculation-box{
  margin: 0.5em 0;
  padding: 0.5em 0;
  border: solid 2px white;
  background: #1A4567;
  color: white;
}
