.App {
  text-align: center;
}
.Tweet-image {
  text-align: center;
  margin: auto;
  width: 50%;
}
.App-logo {
  width: 50px; 
  height: 50px; 
  border-radius: 50%;
}

.left{
  float:left;
  margin:10px;
}

