.detail {
    width: calc(100% / 3 - 30px);
    margin-bottom: 30px;
    padding: 50px 10px;
    text-align: center;
    border: solid;
  }

  .product-image{
      height: 200px;
      weight: 200px;
      pointer-events: none;
  }